/* Styles pour le popup de connexion */
.login-popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.login-popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    width: 300px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 18px;
    cursor: pointer;
}

/* Style pour la section de la liste des produits */

.listeProduits {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.produit {
    border: 1px solid #ccc;
    padding: 20px;
    width: 200px;
    text-align: center;
}

.produit img {
    border-radius: 10%;
    max-width: 50%;
    height: auto;
}

.produit h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.produit p {
    margin: 10px 0;
}

.produit .prixProd {
    font-size: 1.5em;
    color: #333;
}

.produit button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

.produit button:hover {
    background-color: #218838;
}


.message-ajout-panier {
    background-color: #ffcccb; /* Fond rouge clair pour attirer l'attention */
    color: #333; /* Texte noir ou foncé */
    padding: 10px; /* Espacement interne */
    border: 1px solid #ff5c5c; /* Bordure rouge */
    border-radius: 5px; /* Coins arrondis */
    text-align: center; /* Centrer le texte */
    margin-top: 10px; /* Espace au-dessus */
    font-size: 16px; /* Taille de police */
}


/* Popup de confirmation */
.popup-message {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Popup vert d'ajout au panier */
.popup-ajout-panier {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #28a745; /* Vert */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1000;
}

.popup-ajout-panier.show {
    opacity: 1; /* Le pop-up apparaît avec une transition douce */
}

.popup-ajout-panier.hide {
    opacity: 0;
}
